@media only screen and (min-width: 768px)  {
body{
    margin: 0 auto;
}
    #b{
    float: left;
}
#d{
    float: right;
}
#ef{
    width: 40%;
    /* height: 25%; */
    float: left;
    /* display: inline-block; */
}
#f{
    float: right;
}
#gh{
    float: right;
    width: 40%;
    /* height: 25%; */
    /* display: inline-block; */
    
}
#g{
    float: right;
}

}
@media only screen and (max-width: 767px)   {
    #ef{
        width: 100%;
        
     
       
    }
   
    #gh{
        
        width: 100%;
       
        
    }
    
    
    
}